<div class="well">
  <h2>All Feeds
    <div class="btn-toolbar" style="float:right; margin:0px">
      <div class="btn-group">
        <a class="btn tab-default" href="#table" data-toggle="tab" ><i class="icon-table"></i></a>
        <a class="btn " href="#summary" data-toggle="tab" ><i class="icon-align-justify"></i></a>
        <a class="btn" href="#serializable" data-toggle="tab">{ }</a>
      </div>
      <div class="btn-group">
      <a class="btn btn-primary" href="#new" data-toggle="tab"><i class="icon-plus"></i>New</a>
    </div>

    </div>

  </h2>
  <div class="tab-content">
    <div class="tab-pane active" id="summary">
      <%= render 'feeds/collection/summary.html.erb'%>
    </div>
    <div class="tab-pane" id="table">
      <%= render 'feeds/collection/table.html.erb' %>
    </div>
    <div class="tab-pane" id="serializable">
      <%= render 'feeds/collection/serializable.html.erb' %>
    </div>
    <div class="tab-pane" id="edit">
      <%= render 'feeds/collection/form.html.erb' %>
    </div>
  </div>
</div>


