<div class="btn-group" style="float:right">
  <button class="btn" href="#edit" data-toggle="pill"><i class="icon-pencil"></i></a> </button>
<%= button_tag feed_path(@feed), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" do %>
  <i class="icon-remove"></i>
    <% end %>
    </div>
