<br>
  <h1 style="text-align:center; font-size:76px; line-height:75px">
Your Data is Free Here </h1>
<br>
<img src="assets/haven6.jpg" class="img-rounded">
<h3 style="color:#666; text-align:center"> Most online data is behind the walls of big applications that don't play well with others.  
  <br>Use Feedhaven to take your data and store it in a way that's completely accessible to you. </h3>
<hr>
<div class="row">
  <div class="span4">
    <h3> Own Feeds from Everywhere </h3>
    <p> Use applications like Zapier to pull data to your Haven from every Feed, Stream, Log, and other online channel you have access to.</p>
  </div>
  <div class="span4">
    <h3> Your Data is <strong><i> Your</i> </strong> Data</h3>
    <p> We host 500 MB for free, more for very cheap.  That's all we do.  We won't touch it, let alone sell it. </p>
  </div>
  <div class="span4">
    <h3> RSS Everything </h3>
    <p> Instant JSON, ATOM, CSV and RSS access to each of your feeds no matter the source.  Use any RSS reader to read any Feedhaven feed.</p>
  </div>
</div>
<br>
<div class="row">
  <div class="span4">
    <h3>Leave Us Easily</h3>
    <p> If you ever want to end a subscription, you are enabled to easily pull your data either to another service or to your own machine.  It's your data.  </p>
  </div>
  <div class="span4">
    <h3>Copy Our Code</h3>
    <p> The code of Feedhaven is free and open source.  Modify it and / or host it yourself on your own machine or online. Free. </p>
  </div>
 <div class="span4">
    <h3>Write Apps that Port</h3>
    <p>We've streamlined our API and data format as much as possible.  When you write apps to support Feedhaven feeds, they also can work for similar products and data streams. </p>
  </div>
</div>


